---
import { formatDate } from '@utils/date'
import { type TLaunchDetails } from '@interface/api'
import StatusBadge from '@components/Shared/StatusBadge.astro'

interface Props {
  launch: TLaunchDetails
}
const { launch } = Astro.props
const { name, flight_number, date_utc, details, success, links } = launch
---

<article class="flex flex-col mx-16 sm:mx-auto my-12 items-center max-w-md">
  <img class="w-full max-w-sm" src={links.patch.small} alt={name} />
  <h2 class="text-4xl my-2 font-semibold leading-relaxed text-gray-400">
    #{flight_number}
    {name}
  </h2>
  <div
    class="flex flex-row justify-between items-center w-full max-w-sm mb-4 border border-gray-400 bg-gray-800 rounded-md px-4"
  >
    <p>{formatDate(`${date_utc}`)}</p>
    <StatusBadge success={success} />
  </div>
  <p class="my-4 font-light leading-6 text-gray-300">
    {details ? details : 'No detailes provided related to this launch'}
  </p>
  <footer class="flex flex-row w-full justify-around pt-6 border-t-2 border-gray-400">
    <a
      class="flex flex-col px-4 py-2 border-b rounded-md hover:shadow-md hover:shadow-gray-400 hover:bg-gray-900 duration-300 hover:-translate-y-1"
      href={links.webcast}
      target="_blank">Youtube</a
    >
    <a
      class="flex flex-col px-4 py-2 border-b rounded-md hover:shadow-md hover:shadow-gray-400 hover:bg-gray-900 duration-300 hover:-translate-y-1"
      href={links.article}
      target="_blank">More info</a
    >
  </footer>
</article>
