---
import { getLatestLaunches } from '@services/spacex'
import LaunchCard from './LaunchCard.astro'

const latestLaunches = await getLatestLaunches()
---

<section class="w-full p-4 mx-auto">
  <h3 class="text-3xl lg:text-4xl tracking-tight text-white text-center font-bold mb-4">
    Últimos lanzamientos
  </h3>
  <div class="flex flex-wrap justify-evenly mx-4">
    {
      latestLaunches.map(({ id, name, flight_number, details, success, links }) => (
        <LaunchCard
          id={id}
          name={name}
          flight_number={flight_number}
          details={details}
          success={success}
          image={links.patch.small}
        />
      ))
    }
  </div>
</section>
