---
import StatusBadge from '@components/Shared/StatusBadge.astro'
interface Props {
  id: string
  name: string
  flight_number: number
  details: string | null
  success: boolean
  image: string
}

const { id, name, flight_number, details, success, image } = Astro.props
---

<article class="mx-1 my-4 max-w-sm md:w-1/2 lg:w-1/3">
  <a
    href={`/launch/${id}`}
    class="flex flex-col p-8 border rounded-md shadow-md shadow-gray-400 duration-300 hover:-translate-y-1"
  >
    <img src={image} alt={name} />
    <h4 class="text-2xl my-2 font-semibold leading-relaxed text-gray-400">
      #{flight_number}
      {name}
    </h4>
    <StatusBadge success={success} />
    <p class="my-1 font-light leading-6 line-clamp-2 text-gray-300">
      {details ? details : 'No detailes provided related to this launch'}
    </p>
  </a>
</article>
